@import "theme-editor.css";
a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}
@media (min-width: 801px) {
   .image-gallery-view ol {
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   }
   .menu-item-card {
     font-size: 12pt;
   }
   .menu-categories-page {
      margin-top: 100px;
    }
 }
@media (max-width: 800px) {
   .list-view.editing .toolbar,
   .list-view.editing .contact-grid {
     display: none;
   }
   .image-gallery-view ol {
     grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
     margin-left:-22px;
     margin-right: -22px;
   }
   .menu-item-card {
     max-height: 85px;
     font-size: 11pt;
   }
   .menu-categories-page {
     margin-top: 5px;
   }
   .quantity-integer-field {
     font-size: 9pt;
     width: 60px;
   }
   .popular-items-page {
     margin-top: 55px;
   }
}

.image-gallery-view li {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow;
}

.image-gallery-view li:hover {
  background-color: var(--lumo-base-color);
  box-shadow: var(--lumo-box-shadow-s);
}

.max-width-image {
  max-width: 100%;
  height: auto;
}

.fixed-menu-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  box-shadow: inset 0 -0.1px 0 0 #222;
}

.fixed-menu-bar vaadin-split-layout {
  width: 70%;
}

.menu-item-popup {
  margin: 0em;
}

.bold-span {
  font-weight: bold;
  font-size: 16.5px;
}

.order-status-link-button {
  display: block;
  padding: 0.5rem 0.4rem;
  color: black;
  text-decoration: none !important;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.order-status-link-button:visited {
  text-decoration: none !important;
}
.order-status-link-button:active {
  font-weight: 500 !important;
}

.personalize-menu-layout {
  margin-bottom: -3px;
}

.toolbar {
  position: fixed;
  top: 70px;
  z-index: 1;
  display: flex;
}

.tables-grid, .staff-grid {
  margin-top: 70px;
  display: flex;
  position: sticky;
}

.order-grid {
  margin-top: 180px;
  display: flex;
  position: sticky;
}

.order-status-finalized, .order-status-cancelled {
  margin: auto;
  font-weight: bold;
  font-size: 17px;
}
.order-status-cancelled {
  color: red;
}
.order-status-finalized {
  color: green;
}

.total-amount-text {
  text-align: right;
  font-size: 18px;
}

vaadin-grid.orders-grid::part(done) {
  background-color: var(--lumo-success-color-10pct);
}

vaadin-grid.orders-grid::part(cancelled) {
  background-color: var(--lumo-error-color-10pct);
}


vaadin-grid.notifications-grid::part(not-read) {
  font-weight: bold;
  background-color: #F5F5F5;
}

.notifications-popup {
  margin: 0em;
  position: fixed;
  top: -8.2em;
  right: -61.5em;
  bottom: 0em;
  left: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

