@media (min-width: 801px) {
   .image-gallery-view ol {
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   }
   .menu-item-card {
     font-size: 12pt;
   }
   .menu-categories-page {
     margin-top: 100px;
   }
   .menu-item-popup {
     width: 30rem;
   }
 }
@media (max-width: 800px) {
   .list-view.editing .toolbar,
   .list-view.editing .contact-grid {
     display: none;
   }
   .image-gallery-view ol {
     grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
     margin-left:-22px;
     margin-right: -22px;
   }
   .menu-item-card {
     max-height: 85px;
     font-size: 11pt;
   }
   .menu-categories-page {
     margin-top: 5px;
   }
   .quantity-integer-field {
     font-size: 9pt;
     width: 60px;
   }
   .popular-items-page {
     margin-top: 55px;
   }
}

a {
  text-decoration: none;
  color: #EA5141;
}
a:hover {
  font-weight: bold;
  text-decoration: none;
}
body {
  height: var(--field-height);
  line-height: 2;
  background: var(--field-background-color);
  border: 0px;
  padding: var(--space-xs);
  border-radius: var(--roundness-sm);
  transition: all 0.2s ease-in;
}
p, h1, h2, h3, h4, h5, h6, span, div {
  color: #000000;
}

.main-layout, .main-drawer {
  background-color: #F9F6ED;
  border: 5px solid #F9F6ED;
}
vaadin-app-layout::part(drawer) {
  width: 300px;
}
.logo {
  flex-grow: 5px;
  width: 15%;
  margin-right: 70%;
  border: 0px;
}
.notifications-popup {
  top: -34.1%;
  right: -67.5%;
  width: 25rem;
}
vaadin-side-nav-item::part(link) {
  color: #21272D;
}
vaadin-side-nav-item > vaadin-icon {
  color: #EA5141;
}
vaadin-drawer-toggle::part(icon) {
  color: #EA5141;
}
vaadin-dialog-overlay::part(footer) {
  background-color: white;
}
vaadin-dialog-overlay::part(header) {
  color: #EA5141;
  background-color: #F9F6ED;
}

vaadin-button {
  background: #E0E0E0;
  color: #21272D;
}
vaadin-button[theme~="primary"] {
  background: #EA5141;
  color: #FFFFFF;
}
vaadin-button[theme~="tertiary"] {
  background: none;
  color: black;
  font-size: 18px;
}
vaadin-button[theme~="tertiary"]:hover {
  font-weight: bold;
}
vaadin-button[disabled] {
  background: #DCDCDC;
  color: white;
}
vaadin-button.edit-button {
  color: #21272D;
  background: none;
  font-weight: bold;
}
vaadin-button.delete-button {
  color: #EA5141;
  background: none;
  font-weight: bold;
}

.image-gallery-view li {
  transition-property: box-shadow;
  background-color: #F5F5F5;
}
.image-gallery-view li:hover {
  background-color: #EAE7DC;
  box-shadow: #EA5141;
}
.menu-item-image {
  width: 100%;
  border: 0.5px solid #EA5141;
}

.add-to-cart-button {
  width: 40%;
  border-radius: 0px;
  font-size: 15px;
}
.price-button {
  width: 35%;
  border-radius: 0px;
  font-size: 15px;
}
.quantity-button {
  width: 25%;
  font-size: 15px;
}
.quantity-integer-field {
  width: 80%;
  font-size: 14px;
}

.max-width-image {
  max-width: 100%;
  height: auto;
}

.fixed-menu-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: #F9F6ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  box-shadow: inset 0 -0.01px 0 0 #222;
}
.fixed-menu-bar vaadin-split-layout {
  width: 70%;
}

.bold-span {
  font-weight: bold;
  font-size: 16.5px;
}

.order-status-link-button {
  display: block;
  padding: 0.5rem 0.4rem;
  color: black;
  text-decoration: none !important;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 500;
}
.order-status-link-button:visited {
  text-decoration: none !important;
}
.order-status-link-button:active {
  font-weight: 500 !important;
}

.personalize-menu-layout {
  margin-bottom: -3px;
  background-color: #F9F6ED;
}

.toolbar {
  position: fixed;
  top: 50%px;
  z-index: 1;
  display: flex;
}

.tables-grid, .staff-grid {
  margin-top: 70px;
  display: flex;
  position: sticky;
}
.order-grid {
  margin-top: 180px;
}

.total-amount-text {
  text-align: right;
  font-size: 18px;
}

vaadin-grid.orders-grid::part(done), vaadin-grid.order-grid::part(done) {
  background-color: var(--lumo-success-color-10pct);
}
vaadin-grid.orders-grid::part(cancelled), vaadin-grid.order-grid::part(cancelled) {
  background-color: var(--lumo-error-color-10pct);
}

vaadin-grid.notifications-grid::part(not-read) {
  font-weight: bold;
  background-color: #F5F5F5;
}

vaadin-login-overlay-wrapper::part(description) {
  color: #21272D;
}
vaadin-login-overlay-wrapper::part(brand) {
  background-color: #F9F6ED;
  color: #F9F6ED;
}

.login-view {
  background-image: url("background.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: #F9F6ED;
}